$breakpoint-mobile-big: 600px;
$breakpoint-mobile-medium: 480px;
$breakpoint-tablet-small: 900px;
$breakpoint-tablet-medium: 1100px;
// $breakopint-tablet-big: 1300px;
$breakopint-desktop: 1400px;

$color-main: #4ccbde;
$color-main-dark: #3b939f;

$font-logo: 'Arvo', serif;