footer 
    .footer_info 
        .footer_logo
            a(href="/") 
                img.footer_logo_icon(src='./img/header_logo_50x50.png') 
                span.footer_logo_text reiling.ru
            
    .footer_info 
        h2 О компании
        a(href="#") Реквизиты
        a(href="#") Новости
        a(href="#") Вакансии
        a(href="#") Партнёрам
        a(href="#") Правила продаж

    .footer_info 
        h2 Покупателям
        a(href="#") Как оформить заказ
        a(href="#") Правила оплаты
        a(href="#") Кредиты
        a(href="#") Статус заказа
        a(href="#") Обмен и возврат

    .footer_info 
        h2 Компаниям
        a(href="#") Юридическим лицам
        a(href="#") Проверка счёта
        a(href="#") Подарочные карты
        a(href="#") Бонусная программа
        a(href="#") Корпоративные отделы