.categories
    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Наплитная посуда
            .category-item-img
                img(src="./img/naplitnaya_posuda_200x200.jpg" alt="Наплитная посуда")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Столовые приборы
            .category-item-img
                img(src="./img/stolovye_pribory_200x200.jpg" alt="Столовые приборы")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Кухонные ножи
            .category-item-img
                img(src="./img/kuhonnye_noji_200x200.jpg" alt="Кухонные ножи")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Кухонная утварь
            .category-item-img
                img(src="./img/kuhonnaya_utvar_200x200.jpg" alt="Кухонная утварь")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Ёмкости для хранения
            .category-item-img
                img(src="./img/emkosti_dlya_hraneniya_200x200.jpg" alt="Ёмкости для хранения")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Формы для выпечки
            .category-item-img
                img(src="./img/formy_dlya_vypechki_200x200.jpg" alt="Формы для выпечки")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Разделочные доски
            .category-item-img
                img(src="./img/razdelochnye_doski_200x200.jpg" alt="Разделочные доски")

    a(href="/") 
        .category-item
            .category-item-toner
            .category-item-text 
                h2 Рейлинги для кухни
            .category-item-img
                img(src="./img/reylingi_dlya_kuhni_200x200.jpg" alt="Рейлинги для кухни")
